.navigation {
  margin: 1px 0 0;
  padding: 0;

  @media only screen and (min-width: 730px) {
    display: flex;
  }

  li {
    margin-right: 24px;
    list-style: none;

    .navigation-link {
      color: var(--font-primary-color);
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: var(--font-navigation-color-hover);
      }
    }
  }
}

.mobile-menu {
  @media only screen and (max-width: 730px) {
    display: none;
  }
}
