.header {

  border-bottom: 1px solid #212121;
  display: grid;
  grid-column: 1 / 13;
  grid-template-columns: auto 1fr;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  height: auto;
}

.logo {
    grid-row: 1;

  @media only screen and (min-width: 480px) {
    grid-column: 1;
    grid-row: auto;
    padding-right: 48px;
  }
}

.navigation {
  grid-row: 2;

  @media only screen and (min-width: 480px) {
    grid-column: 2;
    grid-row: auto;
  }
}

.mobile-menu {
  grid-row: 2;
  justify-self: end;

  @media only screen and (min-width: 480px) {
    grid-column: 2;
    grid-row: 1 ;
  }
}